{% extends "homepage.html"%}

{% block content %}
    <form action="{{ url_for('getPrestServ')}}" method="post">
        <input type="text" required value="CPF" name="prestservcpf"><br>
        <input type="text" required value="Nome" name="prestservnome"><br>
        <input type="date" required value="Data Nascimento" name="prestservdn"><br>
        <input type="text" required value="id_terreno" name="prestservid_terreno"><br>
        <button type="submit">Cadastrar</button>
    </form>
{% endblock %}