<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Condomínio Flamboyant</title>
</head>
<body>
{% block content%}

<input type="button" value="Consultar Condôminos" onclick="window.location.href='/conscond'"><br>
<input type="button" value="Cadastrar Condôminos" onclick="window.location.href='/cadcond'"><br>
<input type="button" value="Cadastrar Funcionáarios" onclick="window.location.href='/cadfunc'"><br>
<input type="button" value="Cadastrar Prestador de Serviço" onclick="window.location.href='/cadprestserv'"><br>
<input type="button" value="Cadastrar Terreno" onclick="window.location.href='/cadterreno'"><br>

{% endblock %}
</body>
</html>